* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Poppins,
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    text-transform: capitalize;
    color: #000000;
}

h1 {
    font-size: 36px;
    line-height: 48px;
}

h2 {
    font-size: 28pt;
    line-height: 40px;
}

h3 {
    font-size: 24pt;
    line-height: 36px;

}

h4 {
    font-size: 20pt;
    line-height: 28px;

}

h5 {
    font-size: 16pt;
    line-height: 24px;
    font-weight: 600;
}

h6 {
    font-size: 12pt;
    line-height: 16px;
}

input {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

input.bold {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-transform: capitalize;
}